language: shell

os: linux
dist: bionic
services:
  - docker

env:
  global:
    - BACKPORTER="Julien Lamy <lamy@unistra.fr>"
    - DSC=https://github.com/lamyj/dicomifier/releases/download/v2.0.3/dicomifier_2.0.3-1.dsc
    - ORIG=https://github.com/lamyj/dicomifier/releases/download/v2.0.3/dicomifier_2.0.3.orig.tar.gz
    - ORIG_SIG=https://github.com/lamyj/dicomifier/releases/download/v2.0.3/dicomifier_2.0.3.orig.tar.gz.asc
    - DEBIANIZATION=https://github.com/lamyj/dicomifier/releases/download/v2.0.3/dicomifier_2.0.3-1.debian.tar.xz
    - PATCH_DIR=${TRAVIS_BUILD_DIR}/patches
jobs:
  include:
    - name: "Debian 9 (Stretch)"
      env: [VENDOR=debian, VERSION=stretch]
    - name: "Debian 10 (Buster)"
      env: [VENDOR=debian, VERSION=buster]
    - name: "Ubuntu 16.04 (Xenial Xerus)"
      env: [VENDOR=ubuntu, VERSION=xenial]
    - name: "Ubuntu 18.04 (Bionic Beaver)"
      env: [VENDOR=ubuntu, VERSION=bionic]
    - name: "Ubuntu 20.04 (Focal Fossa)"
      env: [VENDOR=ubuntu, VERSION=focal]

before_install:
  - docker run -di -v ${TRAVIS_BUILD_DIR}:${TRAVIS_BUILD_DIR} --name ${VENDOR}_${VERSION} --rm ${VENDOR}:${VERSION}

script:
  - set -e
  # WARNING: this docker-specific files causes errors in d-shlibmove when 
  # calling `apt-cache --no-generate show PKG`
  - docker exec ${VENDOR}_${VERSION} rm -f /etc/apt/apt.conf.d/docker-clean
  - docker exec ${VENDOR}_${VERSION} ${TRAVIS_BUILD_DIR}/setup -u
  - docker exec -w /home/somebody -u somebody ${VENDOR}_${VERSION} curl -L --remote-name-all ${DSC} ${ORIG} ${ORIG_SIG} ${DEBIANIZATION}
  - docker exec -w /home/somebody -u somebody -e PATCH_DIR=${PATCH_DIR} ${VENDOR}_${VERSION} ${TRAVIS_BUILD_DIR}/prepare
  - docker exec -w /home/somebody -u somebody -e BACKPORTER="${BACKPORTER}" ${VENDOR}_${VERSION} ${TRAVIS_BUILD_DIR}/build
  - docker exec -w /home/somebody -u somebody ${VENDOR}_${VERSION} ${TRAVIS_BUILD_DIR}/check
  - docker exec -w ${TRAVIS_BUILD_DIR} ${VENDOR}_${VERSION} mkdir packages
  - docker exec -w ${TRAVIS_BUILD_DIR} ${VENDOR}_${VERSION} sh -c 'mv /home/somebody/*deb ./packages'

after_success:
  - docker kill ${VENDOR}_${VERSION}

deploy:
  edge: true
  provider: s3
  bucket: dicomifier-deb
  local_dir: packages
